.button {
  background: #222;
  color: #fefefe;
  border: none;
  padding: 0.75rem;
  border-radius: 3rem;
  min-width: 3rem;
  margin: 0.375rem 0.75rem;
}

.button:focus {
  border: none;
  outline: none;
  border-width: 4px;
  box-shadow: 0px 0px 0px 2px #222;
}

.buttoncontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
}

.selected, .hint.selected {
  background: #2ac;
}

.selected:focus, .hint.selected:focus {
  box-shadow: 0px 0px 0px 2px #2ac;
}

.success {
  opacity: 0.01;
  transition: opacity 0.5s;
}

.failure {
  background-color: #f02222;
}

.failure:focus {
  box-shadow: 0px 0px 0px 2px #f02222;
}

.hint {
  background-color: #f088c8;
  color: #fefefe;
}

.hint:focus {
  box-shadow: 0px 0px 0px 4px #f0888c8;
}
